*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contact{
    height: auto;
    background: linear-gradient(to right,#616565,#cbcdcd,#e6e9e9,#f6fbfb,rgb(252, 252, 252));
    
    padding: 10%;
    /* */
}
.contactWrapper{
    width: 100%;
    /* background-color: rgb(123, 96, 60); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap:10vw
}
.contactLeft{
    /* float: left;
    width: 50%; */
    color: #3d3431;
    height: 100%;
}
.circleImage{
    background-color: bisque;
  
    width: 200px;
    height: 200px;
    margin-top: 5vh;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgb(10, 10, 10,.5);
}
#image{
    background-image: url('../Assets/profile-pic\ \(8\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-top: -10px;
    border-radius: 50%;
}
.contactRight{
    /* float:left;
    width:50%; */
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    /* padding-left: 20vw; */
    font-size: larger;
    width: 100%;
    color: #57443e;
    font-weight: 500;
}
.heading h2{
    font-size: 3rem;
    color: #eedb33;
    text-shadow: 3px 1px 5px black

}
#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
    width: 100%;
}
.inputs{
    width:80%;
    height: 50px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(190, 188, 185);
}
.textarea{
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(190, 188, 185);
    width:80%;
}
#submit{
    background-color: #52382f;
    color: rgb(246, 235, 185);
    border-radius: 3px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#submit:hover{
    color: #d8ca4b;
}
/* textarea {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    resize: vertical;
    width:25vw;
  } */
  #pcontact{
    font-size: 1rem;
  }


  /* media queries */
  /* sm */
@media (max-width: 640px) {
    .heading{
        font-size: 1rem;
    }
}
  /* xs */
@media (max-width: 475px) {
 .inputs{
    height: 40px;
 }
 .heading{
    font-size: .8rem;
}
}
@media (max-width: 350px) {
    .inputs{
       height: 30px;
    }
    .circleImage{
        height: 150px;
        width: 150px;
    }
    #submit{
        font-size: 13px;
    }
    .heading{
        font-size: .8rem;
    }
   }
