*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eduContentsmall, .expContentsmall{
    display: none;
}
#education{
   height: 120vh;
   max-width: 100vw;
   background-image: linear-gradient(to right,rgb(255, 255, 255),#CEB3A1,#705248,#705248,#302724);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 15vh;
}
.b {
    height: 40px;
    background-color: rgb(23, 7, 7);
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 8px 5px rgb(10, 10, 10,.5);
}
.b1,.b2{
    cursor: pointer;
}
.btn2{
    background-color:rgb(23, 7, 7,.5);
}
.line{
    
    border-left: 4px solid rgb(23, 7, 7,.5);
    position: absolute;
    margin-top: 15vh;
    border-radius: 5px;
}
.linesmall{
    
    border-top: 4px solid rgb(23, 7, 7,.5);
    position: absolute;
    margin-top: 3.5%;
    margin-bottom: 5%;
    border-radius: 5px;
    width: 100%;
    
}
.l1{
    height: 470px;
}
.l2{
    height: 200px;
}
.dots{
    border: 5px solid rgb(23, 7, 7);
    position: absolute;
    border-radius: 50%;
}
.dotsSmall{
    border: 5px solid rgb(23, 7, 7);
    width: 1px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 50%;
}
.d1{
    margin-top: 25vh;
}
.d2{
    margin-top: 41.5vh;
}
.d3{
    margin-top: 58vh;
}
.d4{
    margin-top: 75vh;
}
.small{
    display: none;
}
.eduContent,.expContent{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    color: rgb(246, 235, 185);
}
.eduLeft,.expLeft{
    float: left;
    width: 50%;
    margin-left: 11.5vw;
    margin-top: -5vh;
}
.eduRight,.expRight{
    padding-left: -8vw;
}
.leftContent,.expleftContent{
    padding-top:13vh ;
    
}
.rightContent,.exprightContent{
    padding-top: 9vh;
   
}
.elc5{
    padding-right:800px ;
    margin: 5vh;
  
}
.erc5{
    margin-left:-250px ;
}
/* media queries */
/* 2xl */
@media (max-width: 1536px) {
   
  }
  
  /* xl */
  @media (max-width: 1280px) {
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .eduLeft,.expLeft{
        float: left;
        width: 50%;
        margin-left: 10vw;
        margin-top: -5vh;
    }
    .eduRight,.expRight{
        padding-left: 11vw;
    }
    .eduContent{
        font-size: .9rem;
    }
    .d2{
        margin-top: 45.5vh;
    }
    .d3{
        margin-top: 64vh;
    }
    .d4{
        margin-top: 83vh;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .eduRight{
        padding-left: 10vw;
    }
    .expRight{
        padding-left: 0vw ;
    }
    .eduLeft,.expLeft{
        float: left;
        width: 50%;
        margin-left: 11vw;
        margin-top: -5vh;
    }
    .expLeft{
        margin-left: 20vw;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
   .line,.eduContent,.expContent,.d1,.d2,.d3,.d4{
    display: none;
   }
   .b {
    height: 33px;
    width: 150px;
    font-size: .8rem;
    }
    #education{
        padding-left: 7%;
        height: 140vh;
    }
    .eduContentsmall,.expContentsmall{
        display: block;
        position: absolute;
    margin-top: 12vh;
    color: rgb(233, 224, 224);
    width: 60%;
    }
  }
  
  /* xs */
  @media ( width<=513px) {
    #education{
        font-size: .8rem;
        padding-left: 15%;
        background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(143, 114, 119),rgb(82, 42, 42),rgb(24, 8, 8));
        height: 120vh;
    }
    .b {
        height: 30px;
        width: 120px;
        font-size: .75rem;
        }
  }
  @media(width<=410px){
    #education{
        height: 125vh;
    }
  }
  @media(width<=340px){
    .b {
        height: 30px;
        /* width: 100px; */
        width: 38%;
        font-size: .6rem;
        }
        #education{
            font-size: .6rem;
            padding-left: 15%;
            height: 100vh;
        }     
  }