*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#footer{
    height: 30vh;
    width: 100%;
    background: linear-gradient(to right,#616565,#cbcdcd,#e6e9e9,#f6fbfb,rgb(252, 252, 252));
  
}
#footerWrapper{
    height: 30vh;
    width: 100%;
    background-color: #52382f;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(246, 235, 185);
    
    font-size:30px;
    flex-direction: column;
    gap:10px
}
#footerContent a{
    padding: 10px ;
    color: rgb(246, 235, 185);
    text-decoration: none;
}
#footerContent a:hover{
    color: #d8ca4b;
}
/* media queries */
/* xs */
@media (max-width: 475px) {
 #footer{
    font-size: 25px;
 }
}
@media (max-width: 320px) {
    #footer{
       font-size: 20px;
    }
   }