*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#footer{
    height: 30vh;
    width: 100%;
    background-color: rgba(82, 47, 47);
    border-top-left-radius:100%;
    border-top-right-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size:30px;
    flex-direction: column;
    gap:10px
}
#footerContent a{
    padding: 10px ;
    color: antiquewhite;
    text-decoration: none;
}
/* media queries */
/* xs */
@media (max-width: 475px) {
 #footer{
    font-size: 25px;
 }
}
@media (max-width: 320px) {
    #footer{
       font-size: 20px;
    }
   }