#home{
    background-image: url('../Assets/CoverImg2.jpg');
    max-width:100%;
    height:100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    /* z-index: 1; */
}
#imgContainer {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
    height: 90vh;
    width: 100%;
  }
  .homeContainer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
   
  }
  .homeContent{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-family:serif;
    width:100vw;
    
  }
  .box{
    opacity: 0;
    position: absolute;
    margin-top:40vh;
    font-size:60px;
   
  }
  .b1{
    animation: ani1 10s infinite;
  }
  .b2{
    animation: ani2 10s infinite;
  }

  @keyframes ani1{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
  }
  @keyframes ani2{
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }
  .cvLink{
    margin-top: 55vh;
    border: 1px solid blanchedalmond;
    padding: 10px 30px 30px 30px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20px;
  }
  .cvLink:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }
  a{
    height: 20px;
  }


  /* media query */

  /* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  .homeContent{
    width:100vw
  }
  .homeContent{
    font-size: 1.2rem;
  }
  .box{
    font-size: 4rem;
  }
  .cvLink{
    margin-top: 65vh;
    padding: 10px 30px 40px 30px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  
  .homeContent{
    width:100vw;
    font-size: 1.2rem;
  }
  .box{
    font-size: 3.6rem;
  }
  .cvLink{
    margin-top: 60vh;
    padding: 10px 30px 35px 30px;
  }

}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .homeContent{
    width:100vw
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .homeContent{
    width:100vw
  }
  .homeContent{
    font-size: 1rem;
  }
  .box{
    font-size: 2.8rem;
  }
  .cvLink{
    padding: 10px 30px 30px 30px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .homeContent{
    font-size: 1rem;
  }
  .box{
    font-size: 2.5rem;
  }
  .cvLink{
    margin-top: 55vh;
    padding: 10px 30px 30px 30px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .homeContent{
    font-size: 1rem;
  }
  .box{
    font-size: 2.1rem;
  }
}
@media(max-width: 320px){
  .box{
    font-size: 1.5rem;
  }
}
