.navbarContainer{
    height: 12vh;
    display: flex;
    color: rgb(239, 237, 232);
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1;
    transition: background-color .5s ease-in-out;
}
.initials{
    border: 1px Solid rgb(242, 233, 216);
    font-family:serif;
    font-weight: 550;
    font-size: 30px;
    padding: 3px 1px 10px 1px;
    margin: 20px 0 0 150px;
    height: 25px;
}
.options{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 23vw;
}
.options>ul>li{
    padding: 20px;
    color: rgb(199, 190, 190);
    font-weight: 400;
    font-size: large
}
.options ul li:hover {
    color: white !important;
    cursor: pointer !important;
}

.navbarContainer.fixed{
    /* position: fixed; */
    background-color: rgba(30, 32, 33, 0.5);
    height: 12vh;
    
}

#ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  button:hover {
    color: #ffd700; /* Change to your preferred hover color */
  }
  
  li.active button {
    color: #ffd700; /* Change to your preferred active color */
  }
