#navbarContainer{
    height: 10vh;
    display: flex;
    /* background-image:  url('../Assets/CoverImg2.1.jpg');;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
    color: white; */
    color: rgb(239, 237, 232);
}
.initials{
    border: 1px Solid rgb(242, 233, 216);
    font-family:serif;
    font-weight: 550;
    font-size: 30px;
    padding: 3px 1px 10px 1px;
    margin: 20px 0 0 150px;
}
.options{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 23vw;
}
.options>div{
    padding: 20px;
    color: rgb(199, 190, 190);
    font-weight: 400;
    font-size: large
}
.options>div:hover{
    color: white !important;
    cursor: pointer !important;
}