
#resume{
    /* background-color: rgb(250, 245, 242); */
    display: flex;
    min-height: 100vh;
    
}

.mainLeft{
    /* background-color:rgb(243, 209, 184); */
    position:sticky;
    top:10vh;
    width: 15vw;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
}
#resumeUL{
    list-style:none;
    
}
.mainLeft>ul>li{
    padding-bottom: 10px;
    font-size:x-large;
    font-weight: 500;
    
}
.mainLeft>ul>li>a{
    text-decoration: none;
    color: rgb(94, 91, 87);
}
.mainRight{
    /* background-color: rgb(243, 209, 184); */
    width: 85vw;
    flex: 1;
    /* padding: 20px; */
    box-sizing: border-box;
}
.activeResume{
    margin-left: 10px !important; /* Adjust this value based on your design */
    color:rgb(185, 164, 164) !important;
    transition: margin-left 0.3s ease !important; 
}
