
#resume{
    /* background-color: rgb(250, 245, 242); */
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
}

.mainLeft{
    /* background-color:rgb(243, 209, 184); */
    position:sticky;
    top:10vh;
    width: 15vw;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
}
#resumeUL{
    list-style:none;
    
}
.mainLeft>ul>li{
    padding-bottom: 10px;
    font-size:x-large;
    font-weight: 500;
    
}
.mainLeft>ul>li>a{
    text-decoration: none;
    color: rgb(94, 91, 87);
    
}
.mainLeft>ul>li>a:hover{
    cursor: pointer;
    color:rgb(185, 164, 164) 
}
.mainRight{
    /* background-color: rgb(243, 209, 184); */
    width: 85vw;
    flex: 1;
    /* padding: 20px; */
    box-sizing: border-box;
}
.activeResume>a{
    margin-left: 10px ; /* Adjust this value based on your design */
    color:rgb(185, 164, 164) !important;
    transition: margin-left 0.3s ease ; 
}


/* media queries */
/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .mainLeft{
        width: 12vw;
    }
    .mainLeft>ul>li>a{
        margin-left: -10px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }
  @media(max-width: 400px){
    .mainLeft>ul>li{
      padding-bottom: 8px;
      font-size:large;
    }
   .mainLeft{
    padding-left: .5rem;
  }
    }