*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#skillsWrapper{
    height: 120vh;
    background: rgb(172, 155, 134);
    padding: 20px;
   
}
#heading{
    color: #352020;
    font-size: 35px;
    font-weight: 700;
    margin: 20px;
}
#skills{
    display: flex;
    align-items:start;
    justify-content: center;
   
    flex-wrap: nowrap;
}
 .skills-container{
    display: flex;
    width:220px;
    padding: 20px 0;
    margin: 10px 20px ;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    
}
.circular-progress{
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* background: conic-gradient(rgb(89, 79, 66) 3.6deg, #ededed 0deg); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 165px;
    width: 165.5px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: rgb(89, 79, 66);
}
.skills-text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

/* skills2 */
.skills2{
    display: flex;
    margin-left:70px;
    align-items:start;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
    gap:10px;
    color: #352020;
}
.div2{
    float: right;
    margin-left: 50%;
    margin-top: -24vh;
}
.linearProgress{
    width:400px;
    height: 10px;
    background-color: #ededed;
    border-radius: 5px;
}
.linearProgressValue{
    width: 0%;
    height: 10px;
    border-radius: 5px;
    background-color: #352020;
    
}
