.App{
    /* overflow: hidden; */
    /* margin-right:-17px; */
    
    /* max-width: 100%; */
}
.mediaContainer{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}
/* xl */
 